* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* Custom Fonts */
@font-face {
    font-family: 'ResplendentBrush';
    src: url('/assets/fonts/ResplendentBrushAlt.ttf');
}

@font-face {
    font-family: 'PurpleDragon';
    src: url('/assets/fonts/Purple\ Dragon.otf');
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Positioning Logo */
#logo {
    font-family: 'ResplendentBrush';
    font-size: 35px;
    font-weight: 900;
    color: rgb(182, 182, 182);
    position: fixed;
    z-index: 1;
    bottom: 3vh;
    left: 10px;
}

#logo span {
    color: orangered;
    font-family: 'ResplendentBrush';
}

/* Styling Navbar */
#nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    background: linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(46, 46, 46, 0.2));
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#hamburger {
    color: antiquewhite;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#hamburger:hover {
    color: orangered;
}

#nav-list {
    margin-left: 10px;
    list-style: none;
    display: flex;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

.nav-list-items {
    color: rgb(213, 213, 213);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-list-items:hover {
    background-color: rgb(255, 106, 52);
    color: white;
}

/* For Sign-in Sign-Up */
#authentication-btn {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.authenticate {
    padding: 5px 10px;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    color: rgb(226, 226, 226);
    border: 1px solid orangered;
}

.authenticate:hover {
    background-color: rgb(255, 78, 14);
}

/* Landing Page */
#home-page {
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    background-color: rgb(0, 0, 0);
    /* display: none; */
}

#home-page::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../images/food-4k.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}

#home-details {
    position: absolute;
    top: 20%;
    left: 50px;
}

#page-heading {
    font-size: 65px;
    font-family: 'PurpleDragon';
    color: rgb(235, 235, 235);
}

#quote {
    color: grey;
}

#search-meal-btn {
    background-color: rgb(205, 205, 205);
    width: 130px;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid orangered;
}

#search-meal-btn:hover {
    background-color: rgb(255, 95, 37);
    transition: 0.5s;
    color: aliceblue;
}

/* SEarch Bar Page */
#search-bar-page {
    position: absolute;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    /* height: 65vh; */
    height: 0;
    background-color: rgb(61, 61, 61);
    width: 100vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
}
#search-bar-container {
    margin-top: 25vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}
#search {
    width: 400px;
    height: 40px;
    display: flex;
}

#search-bar {
    height: 100%;
    outline: none;
    border: none;
    width: 340px;
    padding-left: 20px;
    font-size: 20px;
}

#search-icon {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    cursor: pointer;
}

#search-icon img {
    height: 70%;
}
/* Susggestion List */
#suggestion-list {

    display: block;
    width: 400px;
    /* top: 40px; */
}

.suggestion-list-item {
    color: rgb(209, 209, 209);
    overflow: hidden;
    background: rgba(98, 98, 98, 0.7);
    display: flex;
    border-bottom: 0.5px solid rgb(43, 43, 43, 0.7);
    align-items: center;
    padding: 2px;
    transition: 0.1s;
}
.suggestion-list-item:hover{
    transition: 0.1s;
    background-color: rgb(0, 0, 0, 0.3);
}
.food-img {
    height: 38px;
    width: 38px;
    overflow: hidden;
    border-radius: 4px;
}

.food-img img {
    object-fit: cover;
    height: 100%;
}

.food-text {
    margin-left: 10px;
}
/* Favourite section */
#favourite-section {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0vw;
    z-index: 11;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
    /* display: none; */
}
#favourite-heading {
    padding:0 10px;
    height: 7vh;
    background: rgb(26, 26, 26);
    text-align: center;
    font-size: 30px;
    font-family: 'PurpleDragon';
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#close-fav{
    font-size: 18px;
    border-radius: 50%;
    background-color: rgb(53, 53, 53);
    height: 18px;
    width: 18px;
    padding: 5px;
    box-sizing: content-box;
}
#favourite-list {
    height: 93vh;
    overflow-y: scroll;
}
.favourite-list-item {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 10px 2px rgb(93, 93, 93, 0.6);
    margin: 10px;
}
.favourite-list-item::before {
    position: absolute;
    bottom: 0;
    content: '';
    background: linear-gradient(transparent, black);
    height: 60%;
    width: 100%;
}

.favourite-list-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-details{
    position: absolute;
    bottom: 0;
    z-index: 100;
    color: aliceblue;
    width: 100%;
}
.card-heading{
    margin: 10px;
    font-size: 20px;
    font-family: 'PurpleDragon';
}
.card-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.recepie{
    background-color: rgb(63, 63, 63, 0.6);
    box-sizing: content-box;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}
.recepie:hover{
    outline: 0.5px solid rgb(255, 255, 255);
    background-color: rgb(63, 63, 63, 0.6);
}
.card-btn i {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.card-btn i:hover{
    background-color: rgb(106, 106, 106);
}
/* Search Results Page */
#food-page{
    height: 0;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: 1;
    transition: 0.3s;
}
#food-container{
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    height: 93vh;
    width: 100vw;
    overflow-y: scroll;
    align-content: flex-start;
    position: absolute;
    top: 7vh;
}
.food-card{
    position: relative;
    height: 320px;
    width: calc((100vw - 120px - 25px)/6);
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px;
}
.food-card:before {
    position: absolute;
    bottom: 0;
    content: '';
    background: linear-gradient(transparent, black);
    height: 80%;
    width: 100%;
}
.food-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* MEal Recepie */
#meal-desc{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgb(28, 28, 28, 0.5);
    border-radius: 10px;
    transition: 0.4s;
    overflow: hidden;
}
#meal-desc::before{
    content: '';
    position: absolute;
    background: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 0, 0,0.6));
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#meal-desc-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#meal-desc-details{
    position: absolute;
    max-height: 46vh;
    width: 95vw;
    background-color: rgba(28, 28, 28, 0.6);
    border-radius: 10px;
    z-index: 100;
    color: rgb(217, 217, 217);
    top: 35vh;
    left: 20px;
    font-family: sans-serif;
    overflow-y: scroll;
    padding: 10px;
}

#meal-desc-heading{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(255, 104, 49);
}
.meal-desc-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 81.5vh;
    left: 50%;
    transform: translateX(-50%);
}

.meal-btn{
    width: 150px;
    height: 40px;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

}
#add-to-fav{
    background: rgb(255, 110, 110);
    cursor: pointer;
    color: white;
}
#watch-vid{
    background: rgb(221, 177, 0);
    cursor: pointer;
    color: white;
}

#meal-img{
    position: absolute;
    z-index: 100;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid;
    height: 20vw;
    width: 20vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
#meal-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(38, 38, 38, 0.6);
    width: 100vw;
    color: white;
    height: 3vh;
    z-index: 3;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me {
    text-align: center;
    display: none;
}

#connect-list {
    display: flex;
    justify-content: center;
}

#name {
    font-family: 'PurpleDragon';
    font-size: 40px;
}

.connect-list-icons {
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: azure;
    border-radius: 50%;
    list-style: none;
    margin: 10px;
}

.link-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* object-fit: cover; */
}

/* Media Queries */
@media screen and (max-width: 550px) {
    #hamburger {
        display: flex;
    }

    #nav-list {
        position: absolute;
        background-color: rgb(83, 83, 83, 0.7);
        left: -200px;
        padding: 10px;
        width: 150px;
        border-radius: 10px;
        top: 7vh;
        display: flex;
        flex-direction: column;

    }
    #page-heading {
        font-size: 45px;
        font-family: 'PurpleDragon';
        color: rgb(235, 235, 235);
    }

    .food-card {
        width: calc((100vw - 60px - 25px)/3);
    }
}