* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Custom Fonts */
@font-face {
    font-family: 'ResplendentBrush';
    src: url('/assets/fonts/ResplendentBrushAlt.ttf');
}

@font-face {
    font-family: 'PurpleDragon';
    src: url('/assets/fonts/Purple\ Dragon.otf');
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/*Welcome Page  */
#welcome-page-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    color: rgb(255, 255, 255);
    background-color: black;
}

#welcome-page-container::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../images/food\ mix.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.leavePage {
    animation: leavepage 1s linear forwards;
    border-radius: 100px;
}

@keyframes leavepage {
    0% {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    40% {
        top: 50%;
        left: 50%;
        width: 50vw;
        height: 50vw;
        transform: translate(-50%, -50%);
    }

    60% {
        top: 60%;
        left: 60%;
        width: 20vw;
        height: 20vw;
        transform: translate(-50%, -50%);
        opacity: 0.8;
    }

    100% {
        top: 100%;
        left: 95%;
        width: 0vw;
        height: 0vw;
        transform: translate(-100%, -100%);
        /* z-index: -1; */
        opacity: 0;
        /* display: none; */
    }

}

#welcome-text {
    font-family: 'PurpleDragon';
    font-size: 60px;
    z-index: 5;
}

#loading-container {
    width: 35%;
    /* background-color: black; */
    border: 0.5px solid;
    height: 10px;
    z-index: 5;
}

#loading-bar {
    background-color: rgb(224, 61, 61);
    /* width: 0%; */
    height: 100%;
    animation: loading 1s linear forwards;
}

@keyframes loading {
    0% {
        width: 0%;
    }

    30% {
        width: 20%;
    }

    90% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}

#main-page-container {
    display: none;
}

/* Navbar */
#nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    /* background-color: aquamarine; */
    background: linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(46, 46, 46, 0.2));
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#logo {
    font-family: 'ResplendentBrush';
    font-size: 35px;
    font-weight: 900;
    color: rgb(182, 182, 182);
    margin-left: 30px;
}

#logo span {
    color: orangered;
    font-family: 'ResplendentBrush';
}

#nav-list {
    list-style: none;
    display: flex;
    width: 320px;
    justify-content: space-around;
    align-items: center;
}

.nav-list-items {
    color: rgb(213, 213, 213);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-list-items:hover {
    background-color: rgb(255, 106, 52);
    color: white;
}

#authentication-btn {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.authenticate {
    padding: 5px 10px;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    color: rgb(226, 226, 226);
}

.authenticate:hover {
    background-color: rgb(255, 78, 14);
}

#home-page {
    /* height: 100vh ; */
    background-color: bisque;
    height: 100vh;
    width: 100vw;
}

#home-page::before {
    position: absolute;
    content: '';
    background-image: url('../images/food-4k.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}

#home-details {
    position: absolute;
    top: 20%;
    left: 50px;
}

#page-heading {
    font-size: 65px;
    font-family: 'PurpleDragon';
    color: rgb(235, 235, 235);
}

#quote {
    color: grey;
}

#search-meal-btn {
    background-color: rgb(205, 205, 205);
    width: 120px;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#search-meal-btn:hover {
    background-color: rgb(255, 95, 37);
    transition: 0.5s;
    color: aliceblue;
}

/* Search Bar Page */
#search-bar-page {
    position: absolute;
    transition: 0.5s;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    z-index: 4;
    /* height: 65vh; */
    height: 0;
    background-color: rgb(61, 61, 61);
    width: 100vw;
}

#search-bar-container {
    /* position: absolute;
    top: 25vh; */
    margin-top: 25vh;
    background-color: aqua;
    width: 400px;
    /* height: 40px; */
    display: flex;

    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

#search-bar-container:hover {
    /* height: 100%; */
}

#search {
    width: 400px;
    height: 40px;
    display: flex;
}

#search-bar {
    height: 100%;
    outline: none;
    border: none;
    width: 340px;
    padding-left: 20px;
    font-size: 20px;
}

#search-icon {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    cursor: pointer;
    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */
}

#search-icon img {
    height: 70%;
}

#suggestion-list {
    display: block;
}

.suggestion-list-item {
    overflow: hidden;
    background-color: aqua;
    display: flex;
    border-bottom: 0.5px solid rgb(155, 155, 155);
    align-items: center;
    padding: 2px;
}

.food-img {
    height: 38px;
    width: 38px;
    overflow: hidden;
    border-radius: 4px;
    /* margin-left: 8px; */
}

.food-img img {
    object-fit: cover;
    height: 100%;
}

.food-text {
    margin-left: 10px;
}

/* Favourite section */
#favourite-section {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40vw;
    /* background: linear-gradient(black, transparent); */
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

#favourite-heading {
    height: 7vh;
    background: rgb(26, 26, 26);
    text-align: center;
    font-size: 35px;
    font-family: 'PurpleDragon';
    color: white;
}

#favourite-list {
    height: 93vh;
    overflow: scroll;

}

::-webkit-scrollbar {
    display: none;
}

.favourite-list-item {
    position: relative;
    height: 250px;
    width: 190px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}

.favourite-list-item::before {
    position: absolute;
    bottom: 0;
    content: '';
    background: linear-gradient(transparent, black);
    height: 60%;
    width: 190px;
}

.favourite-list-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-details{
    position: absolute;
    bottom: 0;
    z-index: 10000;
    color: aliceblue;
}
.card-heading{
    margin: 10px;
    font-size: 20px;
    font-family: 'PurpleDragon';
}
.card-btn{
    /* background-color: antiquewhite; */
    width: 190px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}


/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(38, 38, 38, 0.6);
    width: 100vw;
    color: rgb(113, 113, 113);
    color: white;
    height: 3vh;
    z-index: 3;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me {
    /* background-color: aqua; */
    text-align: center;
    display: none;
}

#connect-list {
    display: flex;
    justify-content: center;
}

#name {
    font-family: 'PurpleDragon';
    font-size: 40px;
}

.connect-list-icons {
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: azure;
    border-radius: 50%;
    list-style: none;
    margin: 10px;
}

.link-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}