* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Custom Fonts */
@font-face {
    font-family: 'ResplendentBrush';
    src: url('/assets/fonts/ResplendentBrushAlt.ttf');
}

@font-face {
    font-family: 'PurpleDragon';
    src: url('/assets/fonts/Purple\ Dragon.otf');
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Positioning Logo */
#logo {
    font-family: 'ResplendentBrush';
    font-size: 35px;
    font-weight: 900;
    color: rgb(182, 182, 182);
    position: fixed;
    z-index: 1;
    bottom: 3vh;
    left: 10px;
}

#logo span {
    color: orangered;
    font-family: 'ResplendentBrush';
}

/* Styling Navbar */
#nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    background: linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(46, 46, 46, 0.2));
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#hamburger {
    color: antiquewhite;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#hamburger:hover {
    color: orangered;
}

#nav-list {
    margin-left: 10px;
    list-style: none;
    display: flex;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

.nav-list-items {
    color: rgb(213, 213, 213);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-list-items:hover {
    background-color: rgb(255, 106, 52);
    color: white;
}

/* For Sign-in Sign-Up */
#authentication-btn {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.authenticate {
    padding: 5px 10px;
    background-color: rgb(117, 117, 117);
    border-radius: 5px;
    color: rgb(226, 226, 226);
    border: 1px solid orangered;
}

.authenticate:hover {
    background-color: rgb(255, 78, 14);
}

/* Landing Page */
#home-page {
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    background-color: rgb(0, 0, 0);
    /* display: none; */
}

#home-page::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../images/food-4k.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}

#home-details {
    position: absolute;
    top: 20%;
    left: 50px;
}

#page-heading {
    font-size: 65px;
    font-family: 'PurpleDragon';
    color: rgb(235, 235, 235);
}

#quote {
    color: grey;
}

#search-meal-btn {
    background-color: rgb(205, 205, 205);
    width: 130px;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid orangered;
}

#search-meal-btn:hover {
    background-color: rgb(255, 95, 37);
    transition: 0.5s;
    color: aliceblue;
}

/* SEarch Bar Page */
/* #search-bar-page {
    position: absolute;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    height: 0;
    background-color: rgb(61, 61, 61);
    width: 100vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
} */

#search-bar-container {
    display: none;
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    overflow: hidden;
    z-index: 12;
}
#blur-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: 0.5s;
    z-index: 11;
  }
  
  #blur-container.blur {
    pointer-events: auto;
    backdrop-filter: blur(5px);
    transition: 0.5s;
  }

#search {
    width: 400px;
    height: 40px;
    display: flex;
}

#search-bar {
    height: 100%;
    outline: none;
    border: none;
    width: 340px;
    padding-left: 20px;
    font-size: 20px;
}

#search-icon {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    cursor: pointer;
}

#search-icon img {
    height: 70%;
}

/* Susggestion List */
#suggestion-list {

    display: block;
    width: 400px;
    /* top: 40px; */
}

.suggestion-list-item {
    color: rgb(209, 209, 209);
    overflow: hidden;
    background: rgba(98, 98, 98, 0.7);
    display: flex;
    border-bottom: 0.5px solid rgb(43, 43, 43, 0.7);
    align-items: center;
    padding: 2px;
    transition: 0.1s;
}

.suggestion-list-item:hover {
    transition: 0.1s;
    background-color: rgb(0, 0, 0, 0.3);
}

.food-img {
    height: 38px;
    width: 38px;
    overflow: hidden;
    border-radius: 4px;
}

.food-img img {
    object-fit: cover;
    height: 100%;
}

.food-text {
    margin-left: 10px;
}

/* Favourite section */
#favourite-section {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0vw;
    max-width: 100vw;
    /* min-width: 300px; */
    z-index: 11;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    transition: 0.3s;
    overflow: hidden;
    /* display: none; */
}

#favourite-heading {
    padding: 0 10px;
    height: 7vh;
    background: rgb(26, 26, 26);
    text-align: center;
    font-size: 30px;
    /* font-family: 'PurpleDragon'; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-fav {
    font-size: 18px;
    border-radius: 50%;
    background-color: rgb(53, 53, 53);
    height: 18px;
    width: 18px;
    padding: 5px;
    box-sizing: content-box;
}

#favourite-list {
    height: 93vh;
    overflow-y: scroll;
}
#favourite-list::-webkit-scrollbar {
    width: 5px;
}

#favourite-list::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
}

#favourite-list::-webkit-scrollbar-thumb {
    background: #5aff8c;
    border-radius: 5px;
}

.favourite-list-item {
    /* position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 10px 2px rgb(93, 93, 93, 0.6);
    margin: 10px; */
    position: relative;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.favourite-list-item::before {
    content: '';
    background:linear-gradient(transparent, black);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.favourite-list-item img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.fav-card-button{
    display: block;
}
/* Search Results Page */
#food-page {
    height: 0;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    z-index: 1;
    transition: 0.3s;
    display: none;
}

#food-container {
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    height: 93vh;
    width: 100vw;
    overflow-y: scroll;
    align-content: flex-start;
    position: absolute;
    top: 7vh;
}

#food-container::-webkit-scrollbar {
    width: 5px;
}

#food-container::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
}

#food-container::-webkit-scrollbar-thumb {
    background: #5aff8c;
    border-radius: 5px;
}

.food-card {
    position: relative;
    height: 320px;
    width: calc((100vw - 120px - 5px)/6);
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.food-card::before{
    content: '';
    background:linear-gradient(transparent, black);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.food-card:hover::before{
    height: 0;
}

.food-card img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: 1s;

}
.food-card img:hover {
    transform-origin: center center;
    transform: scale(1);
    transition: 1s;
}

.food-card:hover{
z-index: 1;
}

.card-details{
    width: 100%;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    background-color: rgb(19, 18, 18, 0.9);
    z-index: 1;
    transition: 0.5s;
    /* display: none; */
}
.card-heading {
    color: aliceblue;
    font-size: 20px;
    /* display: none; */
}
.card-button{
    display: none;
    /* height: 0px; */
    transition: 0.3s;
    overflow: hidden;
}
.card-btn{
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}
.recepie{
    color: white;
    background-color: rgb(131, 131, 131, 0.5);
    overflow: hidden;

}
.favourite-btn{
    background-color: rgb(255, 0, 0, 0.5);
    color: white;
    overflow: hidden;
    /* font-size: ; */
    text-align: center;
}
.recepie:hover{
    background-color: rgb(131, 131, 131);
    transition: 0.3s;
}
.favourite-btn:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}

/* MEal Recepie */
#meal-desc {
    height: 0vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    z-index: 1;
    display: none;
    transition: 0.3s;
}

#meal-desc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0, 0.8), black);
    z-index: -1;
}

#meal-desc-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

#right-desc {
    width: 70%;
}
#meal-desc a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#meal-img{
    height: 50vh;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}
#meal-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#food-desc{
    margin: 20px auto;
    width: 90%;
    color: aliceblue;
    font-size: 20px;
}
#ingredients{
    color: rgb(255, 179, 152);
}
#ingredients-type{
    color: rgb(182, 182, 182);
}
#type{
    color: rgb(255, 179, 152);
}
#meal-type{
    color: rgb(182, 182, 182);
}

#left-desc {
    width: 30%;
    /* background: linear-gradient(to left, transparent, rgb(0, 0, 0,0.5)); */
}
#meal-heading{
    color: rgb(255, 255, 255);
    font-family: 'Golos Text', sans-serif;
    font-size: 55px;
    width: 90%;
    margin:auto;
    margin-top: 40px;
}
#recepie{
    color: rgb(207, 207, 207);
    width: 90%;
    margin:auto;
    margin-top: 20px;
    border-radius: 10px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px;
    font-size: 16px;
    font-family: sans-serif;
}

#recepie::-webkit-scrollbar {
    width: 5px;
}

#recepie::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);
}

#recepie::-webkit-scrollbar-thumb {
    background: #5aff8c;
    border-radius: 5px;
}

.meal-desc-buttons{
    width: 90%;
    margin: 5px auto;
    display: flex;

}
.meal-btn {
    width: 120px;
    height: 35px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    font-size: 12px;
}

.add-to-fav {
    background: rgb(255, 0, 0);
    cursor: pointer;
    color: white;
    
}

#watch-vid {
    background: rgb(255, 85, 0);
    cursor: pointer;
    color: white;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(38, 38, 38, 0.6);
    width: 100vw;
    color: white;
    height: 3vh;
    z-index: 3;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me {
    text-align: center;
    display: none;
}

#connect-list {
    display: flex;
    justify-content: center;
}

#name {
    font-family: 'PurpleDragon';
    font-size: 40px;
}

.connect-list-icons {
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: azure;
    border-radius: 50%;
    list-style: none;
    margin: 10px;
}

.link-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* object-fit: cover; */
}

/* Media Queries */
@media screen and (max-width: 389px) {
    #hamburger {
        display: flex;
    }

    #nav-list {
        position: absolute;
        left: -200px;
        padding: 10px;
        width: 150px;
        border-radius: 10px;
        top: 7vh;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        background-color: rgba(36, 36, 36,0.9);
    }

    #page-heading {
        font-size: 45px;
        font-family: 'PurpleDragon';
        color: rgb(235, 235, 235);
    }

    .food-card {
        width: calc(100vw - 20px - 5px);
    }
    #search {
        width: 100vw;
    }
    #search-bar-container {
        width: 90vw;
    }
    #search {
        width: 90vw;
    }
    
    #search-bar {
        width: 85%;
        font-size: 20px;
    }
    
    #search-icon {
        width: 15%;
    }
    #meal-desc{
        /* background-color: #5aff8c; */
        flex-direction: column;
    }
    #left-desc{
        width: 100%;
        height: 40%;
        overflow: hidden;
    }
    #right-desc{
        width: 100%;
        height: 60%;
    }
    #food-desc{
        display: none;
    }
    #meal-img{
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #meal-heading{
        font-size: 32px;
        width: 95%;
        margin: 5px auto;
    }
    #recepie{
        width: 95%;
        margin-top: 10px;
        max-height: 40vh;
    }
    .meal-desc-buttons{
        width: 95%;
        justify-content: center;
    }
    footer{
        font-size: 12px;
    }
}
@media (min-width:390px ) and (max-width:579px )  {
    #hamburger {
        display: flex;
    }

    #nav-list {
        position: absolute;
        left: -200px;
        padding: 10px;
        width: 150px;
        border-radius: 10px;
        top: 7vh;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        background-color: rgba(36, 36, 36,0.9);
    }

    #page-heading {
        font-size: 45px;
        font-family: 'PurpleDragon';
        color: rgb(235, 235, 235);
    }

    .food-card {
        width: calc((100vw - 40px - 5px)/2);
    }
    #search-bar-container {
        width: 90vw;
    }
    #search {
        width: 90vw;
    }
    
    #search-bar {
        width: 85%;
        font-size: 20px;
    }
    
    #search-icon {
        width: 15%;
    }
    #meal-desc{
        /* background-color: #5aff8c; */
        flex-direction: column;
    }
    #left-desc{
        width: 100%;
        height: 40%;
        overflow: hidden;
    }
    #right-desc{
        width: 100%;
        height: 60%;
    }
    #food-desc{
        display: none;
    }
    #meal-img{
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #meal-heading{
        font-size: 32px;
        width: 95%;
        margin: 5px auto;
    }
    #recepie{
        width: 95%;
        margin-top: 10px;
        max-height: 40vh;
    }
    .meal-desc-buttons{
        width: 95%;
        justify-content: center;
    }
}

@media (min-width:580px ) and (max-width:779px )  {
    #hamburger {
        display: flex;
    }

    #nav-list {
        position: absolute;
        left: -200px;
        padding: 10px;
        width: 150px;
        border-radius: 10px;
        top: 7vh;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        background-color: rgba(36, 36, 36,0.9);
    }

    #page-heading {
        font-size: 45px;
        font-family: 'PurpleDragon';
        color: rgb(235, 235, 235);
    }

    .food-card {
        width: calc((100vw - 60px - 5px)/3);
    }

    #meal-desc{
        /* background-color: #5aff8c; */
        flex-direction: column;
    }
    #left-desc{
        width: 100%;
        height: 30%;
        overflow: hidden;
    }
    #right-desc{
        width: 100%;
        height: 70%;
    }
    #food-desc{
        display: none;
    }
    #meal-img{
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #meal-heading{
        font-size: 32px;
        width: 95%;
        margin: 5px auto;
    }
    #recepie{
        width: 95%;
        margin-top: 10px;
        max-height: 40vh;
    }
    .meal-desc-buttons{
        width: 95%;
        justify-content: center;
    }
}

@media (min-width:780px ) and (max-width:930px )  {
    .food-card {
        width: calc((100vw - 80px - 5px)/4);
    }
}

@media (min-width:931px ) and (max-width:1100px )  {
    .food-card {
        width: calc((100vw - 100px - 5px)/5);
    }
}